#MongoDB Config
spring.data.mongodb.host=mongo
spring.data.mongodb.port=27017
spring.data.mongodb.username=diuser
spring.data.mongodb.password=dipass
spring.data.mongodb.database=data-ingestion
spring.data.mongodb.uri=mongodb://user:pass@host:port/database